* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: gray;
}

.container {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

#title {
  text-align: center;
  font-size: 50px;
}

#inputText {
  width: 300px;
  height: 46px;
  border: 1px solid black;
  outline: none;
  font-size: 25px;
  vertical-align: middle;
  border: 3px solid orange;
  border-radius: 20px;
  color: orange;
}

#addToDo {
  width: 80px;
  height: 45px;
  border: 1px solid black;
  vertical-align: middle;
  outline: none;
  font-size: 25px;
  cursor: pointer;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 10px;
}

#clearToDo {
  width: 80px;
  height: 45px;
  border: 1px solid black;
  vertical-align: middle;
  outline: none;
  font-size: 25px;
  cursor: pointer;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 10px;
}

.to-dos {
  margin-top: 25px;
}

.p-style {
  font-size: 25px;
  cursor: pointer;
}
